html,body {
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
}
.map {
    width:100%;
height:768px;
}
.panel {
    background-color: rgba(000, 000, 000, 0.5);
    width: 300px;
    height: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
    color:#fff;
    transition: all ease 0.5s;
    overflow: hidden;
}
.panel.show {
    height: 100%;
}
.icoOpenClose {
    border-bottom: 1px dotted #322F2F;
    transition: all ease 500ms;
    background: url(../i/ico_up.png) no-repeat center center;
    width: 100%;
    cursor: pointer;
    height: 41px;
}
.panel.show .icoOpenClose {
    background: url(../i/ico_down.png) no-repeat center center;
}
.statTable {
    text-align: center;
    width: 94%;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 20px 3%;
    background-color: rgba(000, 000, 000, 0.5);
}
.tbTitle td {
    font-weight: bold;
}
.statTable td {
    border: 1px solid #474646;
    padding: 4px;
    color: #F0EAEA;
    font-size: 17px;
}
.panel .title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 17px;
    color: #B5E1F8;
}
