<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="/static/css/style.css" />

        {% load jsonify %}
        <script>
            window.markers = JSON.parse({{ markers | jsonify }});
        </script>

    </head>
    <body>
        <div id="map" class="map"></div>
        <div id="panel" class="panel">
            <div class="icoOpenClose" id="icoOpenClose"></div>
            <div class="title">Statistics</div>
            <table class="statTable" id="statTable">
                <tr class="tbTitle">
                    <td>City</td>
                    <td>Amount of requests for the last 15 mins</td>
                </tr>
                {% for city, amount in visitor_per_city.items%}
                    <tr>
                        <td>{{city}}</td>
                        <td>{{amount}}</td>
                    </tr>
                {% endfor %}
            </table>
            
        </div>
        
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script src="/static/js/app.js"></script>
    </body>
</html>
